CORS_ALLOW_ORIGIN=^https?://localhost:?[0-9]*$
LOCALE=en
POSTGRES_HOST=127.0.0.1
POSTGRES_DB=api
POSTGRES_PASSWORD=ThisPasswordIsNotSoSecretChangeIt
POSTGRES_PORT=5432
POSTGRES_USER=api
REDIS_HOST=127.0.0.1
SECRET=ThisTokenIsNotSoSecretChangeIt
SYMFONY_ENV=dev
