<?php

declare(strict_types=1);

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__.'/config')
    ->in(__DIR__.'/public')
    ->in(__DIR__.'/src');

return PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setFinder($finder)
    ->setRules(
        [
            '@Symfony' => true,
            '@PHP71Migration' => true,
            'array_syntax' => ['syntax' => 'short'],
            'concat_space' => ['spacing' => 'one'],
            'ordered_imports' => true,
            'phpdoc_order' => true,
            'return_type_declaration' => ['space_before' => 'none'],
        ]
    )
    ->setUsingCache(false);
