parameters:

    # cache parameters

    cache_key_algo: sha256
    redis_host: 127.0.0.1

    # database parameters

    postgres_host: 127.0.0.1
    postgres_name: api
    postgres_password: ~
    postgres_port: ~
    postgres_user: root

    # internationalization parameters

    locale: en

    # security parameters

    cors_allow_origin: '^https?://localhost:?[0-9]*$'
    jwt_pass_phrase: ThisPassPhraseIsNotSoSecretChangeIt
    jwt_token_ttl: 86400
    secret: ThisTokenIsNotSoSecretChangeIt
